extends layout

block content
  h1 Here's your profile, #{user.username}.
  .contact
    h2 #{user.name}
    if user.email
      h3 #{user.email}
    h3 github.com/#{user.username}
  .repos
    h2 Your selected repos.
    ul
      each repo in repos
        li
          .repo
            h3 #{repo.name}
            if repo.description
              p.description #{repo.description}
            else
              p.description No description provided.
            .language
              if Object.keys(repo.languages).length>0
                p.languagemessage #[em Languages]:
                ul.languages
                  -for(let lang in repo.languages)
                    li
                      p #[em #{lang}]
              else
                p.languagemessage #[em No programming languages used.]
            p.url URL: #{repo.url}

  
